* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: 4rem;
}

.intro {
  height: 75vh;
  color: white;
  text-align: center;
  background-image: url("img/burgerKnife.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.parallax {
  background-image: url("img/phonePicOfFood.jpg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
}

.parallax2 {
  background-image: url("img/orange.jpg");
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.parallax *{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 20%;
  color: white;
}

.parallax > h2 {
  padding-top: 2%;
}

.parallax > p {
  padding: 0 10%;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
}

li,
a {
  font-size: 20px;
  color: lightgrey;
  text-decoration: none;
}

#headerLogo {
  cursor: pointer;
  width: 150px;
  height: auto;
}

.nav_links li {
  display: inline-block;
  padding: 0 20px;
}
.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: white;
}

section {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
/* form */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  padding: .5%;
  margin: .50rem 0;
  width: 40vw;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(56, 9, 121, 1) 0%, rgba(255, 0, 220, 1) 100%);
}

#textBox {
  height: 20vh;

}

.contact {
  font-size: 2rem;
}